/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .avatar-image {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
 }
 .no-padding-col {
   padding-left: 0 !important;
   padding-right: 0 !important;
}

.linkable {
   align-items: center;
   cursor: pointer;
   width: 100%;
   height: 4rem;
   margin: 0.5rem 0;
   border-radius: 0px !important;
   background-color: #fff !important;
   border: 1px solid #000 !important;
 }
.linkable:hover {
   background-color: #ccc !important;
   color: #000 !important;
}
.linkable-span {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100%;
   font-size: 1.5rem;
   color: #000;
}

.profile-page {
   width: 100vw;
   height: 100vh;
   background: rgb(2,0,36);
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(45,177,187,1) 37%,rgba(19,198,227,1) 74%,rgba(0,212,255,1) 100%);
}

.notice {
   background-color: #f5f5f5;
   border-color: #f5f5f5;
   color: #333;
   padding: 0px !important;
   margin: 0px !important;
   border: none !important;
}
.alert {
   background-color: #c75f5f;
   border-color: #c75f5f;
   color: #ededed;
   padding: 0px !important;
   margin: 0px !important;
   border: none !important;
}